[user]
	name = KASHIO Takaaki
	email = t.kashio@gmail.com
[core]
	editor = vi
[color]
	ui = auto
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	log1 = log --pretty=format:\"[%h] %ad : %s\" --date=short --graph
	ls = ls-files
	show-graph = log --graph --abbrev-commit --pretty=oneline
	unstage = reset HEAD
