[user]
	name = KASHIO Takaaki
	email = t.kashio@gmail.com
[core]
	editor = vi
	excludesfile = /home/takker/.git-excludes
[color]
	ui = auto
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	amend = commit --amend
	log1 = log --pretty=format:\"[%h] %ad : %s\" --date=short --graph
	ls = ls-files
	show-graph = log --graph --abbrev-commit --pretty=oneline
	unstage = reset HEAD
[github]
	user = takker
	token = e7e6350ff635cb6e6336a815f53d13fb
